*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #2c3a47;
	z-index: 1;
}
ul{
	display: flex;
}
li a{
	position: relative;
	display: block;
	color: white;
	width: 64px;
	height: 64px;
	font-size: 36px;
	text-align: center;
	line-height: 64px;
	border-radius: 50%;
	background-color: #2C3A47;
	transition: 0.6s;
	margin-left: 25px;
}
li a:hover{
	text-shadow: 0 0 4px #25ccf7;
	/* transform: scale(0.8); */
}
li a::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: #25CCF7;
	transition: 0.6s;
	transform: scale(0.8);
	z-index: -1;
}
li a:hover::before{
	box-shadow: 0 0 14px #25CCF7;
	transform: scale(1.05);
}